.container-fluid.p-5 {
    padding: 5px;
    background: url(media/Me.jpg) ;
    background-size:contain;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: none;
}
.container-fluid.p-5 h1{
    text-align: left;
    font-size: 6vmax;
    color:#057572;
    font-weight:800;
    text-shadow: -3px -3px black;
    font-family:'Titillium Web', cursive;
    white-space:pre;
}
.navbar {
    background-color: rgba(115, 87, 81, 0.8);
    list-style-type: none; 
    font-family:'Titillium Web', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.6vmax;
}
.navbar a {
    color: #E7D7C1;
}
.navbar a:hover {
    color: #BF4342;
}
.navbar a:active {
    color: #BF4342;
}

body {
	background:  #057572;
	background-size: 200% 200%;
	height: 100vh;
}
.main .col {
    background:rgba(231,215,193,0.2);
}
.main .col-sm-3{
    border: none;
    background-color: #8C1C13; 
    margin: 5px;
    padding: 2px;
    text-align: center;
    color: white;
}
.main .row h1 {
    text-align: center;
    font-family: 'Merienda', cursive;
    font-size: 10vmax;
    color: #ffffff;
    text-shadow: 2px 2px black;
}
.main .row h3 {
    font-family:'Courier New', Courier, monospace;
    font-size: 3vmax;
    color:black;
    text-shadow: 1px 1px #436436;
    text-align: center;
}
.main .row h2 {
    font-size: 4vw;
    color: #8C1C13;
    font-family: 'Merienda', cursive;
}
.main .row p {
    font-size: 2vw;
    font-family:'Titillium Web', Arial, sans-serif;
    color:black;
}
.main .row .card {
    width: 100%;
    margin: 5px;
    display: inline-block;
}

 .about {
    font-family:'Titillium Web', Arial, sans-serif;
    color:#ffffff;
}
.contact {
    display: inline;
    float: right;
}
#icon{
    max-width: 15%;
}
#me{
    max-width: 95%;
    margin: 2px;
    border-radius: 15px;
}
#typing-text {
    color: white;
    text-shadow: 2px 2px black;
    border: none;
    font-weight: bold;
    text-align: center;
    font-family: Courier New;
    overflow: visible;
    background-color: transparent;
    font-size: 2vmax;
    padding: 5px;
    height: 100%;
    width: 90%;
    outline: none;
    resize: none;
    box-sizing: border-box;
}
footer {
    text-align: center;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    background:#ab5151;
    color: white;
}
a {
    color: black;
}
a:hover {
    color:#8C1C13;
}